*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    outline: none;
}

html body {
    height: 100%;
}

#header #logo {
    font-size: 36px;
    font-weight: bold;
    color: black;
    letter-spacing: 2px;
    background-color:rgb(145, 225, 227);
    border: 5px solid cornflowerblue;
    
}
#header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100px;
    padding: 0 15px;
    border: 1px solid #ddd;
    background-color: rgb(23, 181, 205);
    
}

#header #menü ul  {
    display: flex;

}

#header #menü ul li {
    margin: 10px;
}
#header #menü ul li a {
    font-size: 19px;
    font-weight: bold;
    color: black;
}

#header #menü ul li a:hover{
    padding: 0 1 0 1px;
    background-color: teal;
}

.container {
    height: calc(100% -100);
    display: flex;
    
}



.container .sidebar {

    min-width: 300px;
    border-right: 1px solid #ddd;
    max-height: calc(100vh - 9rem);
    overflow-y: auto;
    padding: 15 0px;
}

.container .sidebar h6{
    font-size: 25px;
    letter-spacing: 1px;
    color: steelblue;
    font-weight: normal;
    padding: 0 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid steelblue;
    text-align: center;
    
}

.container .sidebar ul {
    margin-bottom: 20px;
    
}

.container .sidebar ul li a {
    font-size: 18px;
    font-weight:lighter;
    color: rgb(15, 45, 69);
    display: block;
    padding: 6 15px;
    text-align:center;
    
}


.container .sidebar ul li a:hover {
    background-color:rgb(129, 150, 167);
    color: black;
    font-weight: bold;
}


.container .sidebar ul:last-child {
   margin-bottom: 0;
}
/* içerik bölümü*/
.container .content {
    max-height: calc(100vh - 9rem);
    overflow-x: auto;
    padding: 25px;
}

